<!DOCTYPE html>
<html manifest="/manifest">


<head>
    <title>
        <%=title%>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- bower:css -->
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!-- endbower -->
    <!-- inject:css -->

    <link rel="stylesheet" href="/css/sample.css">

    <!-- endinject -->
</head>

<body>
    <div class="container-fluid">
        <h1><%- headerMessage%></h1>
        <div class="alert alert-info" id="infoMsg">
            <%- moreInfoMessage%>
        </div>
        <button type="button" class="btn btn-default btn-primary">
            Get Time
        </button>
        <span id="time">&nbsp;</span>
        <hr/>
        <%= dateTimeNow%>
            <div class="alert alert-danger offline hideOnload">
                <%= offline%>
            </div>
            <div class="alert alert-success online hideOnload">
                <%= online%>
            </div>

    </div>


    <!-- bower:js -->
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/lib/modernizer/modernizr.js"></script>
    <script src="/lib/offline/offline.js"></script>
    <!-- endbower -->
    <!-- inject:js -->

    <script src="/js/sample.js"></script>

    <!-- endinject -->
</body>

</html>